#root {
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: hidden;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

body {
    background-color: #F4F5F7;
    overflow-y: hidden;
}

[data-reach-tabs] {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
}

[data-reach-tab-panels] {
    overflow-y: auto;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

[data-reach-tab-panel] {
    overflow-y: auto;
    height: 100%;
}

.ag-center-cols-container, .ag-header-container, .ag-header-row {
    width: 100% !important;
}

.ag-cell, .ag-header-cell {
    width: 16.3% !important;
}

[data-reach-tab-list] {
    z-index: 40;
}

.apexcharts-toolbar {
    z-index: 50 !important;
}
